.swiper {
    width: 60vw;
    height: 80vh;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  /* .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  } */
  